/* место для вашего кода */

.header {
    padding: 16px 8px;
    height: 293px;
    width: 1100px;
    margin: 0 auto;
    box-sizing: border-box; 
    display: flex;
    align-items: center; 
    background-color: #fff;
}

.header__container {
    max-width: 1100px; 
    width: 100%;    
    margin: 0 auto;
    padding: 0 50px; 
    display: grid;
    grid-template-columns: 1fr min-content 1fr;
    align-items: center;
    gap: 40px; 
}

.header__logo {
    display: block;       
    width: 148px;          
    height: 105px; 
    grid-column: 2;  
    justify-self: center;           
    align-self: center;

}

.logo__image {
    width: 100%;  
    height: auto;
    display: block;

}

.header__menu { 
    justify-self: start;
    grid-column: 1;        
    align-self: center;  

}

.header__links-list {
    display: flex;
    column-gap: 10px;
    margin: 0;
    padding: 0;
    list-style: circle; 
    list-style-position: inside; 
    white-space: nowrap;

}

.header__links-list-item {
    margin: 0;
    position: relative;

}

.header__links-list-item_no-bullit {
    list-style: none; 

}

.header__link {
    font-size: 18px;

}

.header__link_active {
    text-decoration: none;

}

.header__address {
    font-style: normal;
    justify-self: end;
    grid-column: 3;  
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    font-size: 18px;
    max-width: 240px; 
    white-space: nowrap;
    width: 240px;
    align-self: center; 

}

.main{
    padding: 16px 8px;

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);  
    z-index: 1; 

}

.cover {
    position: relative; 
    width: 1100px;          
    margin: 0 auto 170px auto;
    min-height: 757px;  
    background-image: url('../images/cover.jpg');
    background-size: cover;        
    background-position: center;   
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 16px 8px; 
    box-sizing: border-box; 

}

.cover__container {
    position: relative; 
    z-index: 2;         
    width: 100%;
    min-height: inherit;
    margin: 0 auto;
    box-sizing: border-box;

}

.cover__title {
    position: absolute;
    width: 1030px;      
    height: 385px;  
    top: 149px;    
    left: 42px;
    font-family: Raleway,sans-serif; 
    font-size: 100px; 
    font-weight: 700; 
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box; 

}

.cover__title-line {
    display: block;
    white-space: nowrap;

}

.aligned-text_left {
    text-align: left;

}

.aligned-text_center {
    text-align: center;

}

.aligned-text_right {
    text-align: right;

}

.cover__description {
    position: absolute;
    top: 675px;      
    left: 42px; 
    width: 1000px;
    gap: 50px;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.cover__text {
    font-family: Raleway,sans-serif;
    font-size: 22px; 
    font-weight: 400; 
    margin: 0;
    text-transform: uppercase;
    word-spacing: 18px;
    line-height: 28px;
    white-space: nowrap;

}

.cover__button {
    display: flex;
    align-items: center;      
    justify-content: center;  
    background: transparent;
    border: 1px solid #fff;
    width: 256px;
    height: 51px;
    font-family: Raleway,sans-serif;
    font-weight: 500; 
    font-size: 22px; 
    text-transform: uppercase;
    color: #fff;
    box-sizing: border-box;

}

.cover__button-text {
    white-space: nowrap;

}
    
.lots {
    margin: 0 24px;
    background-color: #fff;

}

.lots__container {
    max-width: 1100px;
    margin: 0 auto; 

}

.lots__heading {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 34px;
    margin-left: 40px;
    text-align: left;

}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;           
    gap: 30px;                 
    margin: 0;
    padding: 0;
    list-style: none;

}

.lots__card-list-item {
    width: calc(33.333% - 20px);  
    min-width: 300px;            
    min-height: 596px;             
    margin: 0;
    padding: 0;
    flex: 1 1 300px;

}

.card-link {
    display: block;
    height: 100%;                 
    text-decoration: none;        
    color: inherit;

}

.card {
    position: relative;
    height: 100%;                  
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.card_type_film {
    background-image: url('../images/card-lot-01.jpg'); 

}

.card_type_book {
    background-image: url('../images/card-lot-02.jpg');  

}

.card_type_picture {
    background-image: url('../images/card-lot-03.jpg');  

}

.card .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);  
    z-index: 1;

}           

.lot-card__content {
    position: relative;
    z-index: 2;                      
    padding: 0 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; 
    height: 100%; 

}

.card_title {
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
    color: #fff;                 
    margin-bottom: 0;
    margin-top: 48px;
    text-decoration: underline;

}

.card__text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0;
    margin: 0;
    color: #fff; 
    margin-top: auto;      
    margin-bottom: 48px;  
}

.lots__look-more-link {
    display: inline-block;
    margin-top: 30px;
    margin-left: 40px;                
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
    border-bottom: 2px solid #000;
    padding-bottom: 1px;
    transition: all 0.3s;

}

.about {
    background-color: #fff;
    margin: 120px 24px;
    height: 595px;
    box-sizing: border-box;

}

.about__container {
    max-width: 1100px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 334px 1fr;
    gap: 23px;  
    align-items: start;

}

.about__column-left {
    display: grid;
    justify-content: start;
    align-items: start;
    position: relative;
    padding: 35px 0 0 47px;
    left: 0;
    top: 0;

}

.about__logo {
    width: 240px;
    height: 240px;
    background-color: #000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.about__logo-image {
    width: 148px;          
    height: auto;
    display: block;

}

.about__column-right {
    display: flex;
    height: 449px;
    flex-direction: column;
    margin-top: 133px;
    align-content:space-between;
    padding: 0;

}

.about__title {
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
    margin: 0; 
    line-height: 1.2;

}

.about__text-group {
    display: flex;
    flex-direction: column;
    gap: 24px;  
    margin-top: auto;     
    width: 100%;  

}

.about__text {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #333;
    margin: 0;  

}

.footer {
    background-color: #fff;  
    margin-top: 80px;  
    height: 180px;

}

.footer__container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 40px;
    align-items: start;

}

.footer__column--left {
    text-align: left;
    justify-self: start;

}

.footer__address {
    font-style: normal;  
    display: flex;
    flex-direction: column;
    gap: 3px; 
    font-size: 18px;
    max-width: 240px; 
    white-space: nowrap;
    width: 240px;
    color: #000;
    margin: 0;

}

.footer__column--center {
    text-align: center;
    justify-self: center;

}

.footer__menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;

}

.footer__menu-list-item {
    margin: 0;
    padding: 0;

}

.footer__menu-link {
    color: #000;
    text-decoration: none;
    font-size: 18px;
    display: inline-block;
    padding: 0;
    text-decoration: underline;

}

.footer__menu-link_active {
    color: #000;
    font-weight: 400;
    text-decoration: none;

}

.footer__column--right {
    text-align: right;
    justify-self: end;

}

.footer__social-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 48px;
    align-items: flex-end;  

}

.footer__social-list-item {
    margin: 0;
    padding: 0;
}

.footer__social-link {
    display: inline-block;
    transition: transform 0.3s, opacity 0.3s;
}

.footer__social-icon {
    width: 48px;  
    height: 48px;
    display: block;
    
}

